<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of allfruit">
            <td>{{f.id}}</td>
            <td>{{f.name}}</td>
            <td>{{f.quantity}}</td>
            <td>{{f.price}}</td>
            <td>
                <a [routerLink]="['/fruit/edit',f.id]" class="btn btn-primary me-3">Edit</a>
                <button class="btn btn-danger" (click)="deleteFruit(f.id)">Delete</button>
            </td>

        </tr>
    </tbody>
</table>
